.btn {
	display: inline-block;
	height: $spacing-lg;
	padding: 0 $spacing-sm;
	line-height: $spacing-lg;
	font-family: $heading-font-light;
	text-transform: uppercase;
	border: 0;
	outline: 0;
	color: white;
	cursor: pointer;
	background: material-color('blue-grey', '400');
	transition: box-shadow 200ms, background 200ms;

	&--lg {
		line-height: $spacing-xl;
		height: $spacing-xl;
		padding: 0 $spacing;
	}

	&--raised {
		//@include box-shadow(1);

		&:hover {
			@include box-shadow(1);
		}
	}

	&--default,
	&--art {
		background: material-color('blue', '400');

		&:hover {
			background: material-color('blue', '400');
		}
	}

	&--music {
		background: $color-music;

		&:hover {
			background: $color-music;
		}
	}

	&--code {
		background: $color-code;

		&:hover {
			background: $color-code;
		}
	}

	&--hireme {
		background: $color-hireme;
	}

	&--search {
		padding: $spacing-sm/2 $spacing-sm;
	}
}

.btn-group {
	margin: $spacing*2 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	@include mq($from: tablet) {
		flex-wrap: nowrap;
	}

	> .btn {
		margin-bottom: $spacing;
		margin-right: 0;
		width: 100%;
		text-align: center;

		@include mq($from: tablet) {
			width: 250px;
			margin-bottom: 0;
			margin-right: $spacing;
		}
	}
}