.figure {
	margin-bottom: $spacing;
	padding: $spacing-sm;
	//border: 1px solid material-color('blue-grey', '100');
    background: white;
	@include box-shadow(1);
	@include mq($from: tablet) {
		//margin-bottom: $spacing-lg;
	}

	&__img {
		display: block;
		margin-bottom: $spacing-sm;
		width: 100%;
		outline: 0;

		> img {
			display: block;
			width: 100%;
		}
	}

	&__caption {
		text-align: center;
		font-size: $zeta;

		@include mq($from: tablet) {
			font-size: $epsilon;
		}
	}

	&--left,
	&--right {
		max-width: 200px;
		@include mq($from: tablet) {
			max-width: 320px;
		}
	}

	&--left {
		float: left;
		margin-right: $spacing;
		margin-left: -$spacing;

		@include mq($from: desktop) {
			margin-left: -$spacing*3;
			margin-right: $spacing-lg;
		}
	}

	&--right {
		float: right;
		margin-left: $spacing;
		margin-right: -$spacing;
		
		@include mq($from: desktop) {
			margin-right: -$spacing*3;
			margin-left: $spacing-lg;
		}
	}
}