.icon {
	position: relative;
	display: inline-block;
	width: $spacing;
	height: $spacing;
	font-size: $epsilon;

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&--search {
		width: 24px;
		height: 24px;
		&:before {
			content: "";
			width: 20px;
			height: 20px;
			border: 2px solid material-color('blue-grey', '500');
			border-radius: 50%;
		}
		&:after {
			content: "";
			position: absolute;
			top: 15px;
			left: 19px;
			width: 2px;
			height: 10px;
			transform: rotate(-45deg);
			background: material-color('blue-grey', '500');
		}

		.btn &:before {
			border-color: white;
		}

		.btn &:after {
			background: white;
		}
	}

	&--close {
		width: 24px;
		height: 24px;

		&:before,
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 11px;
			width: 2px;
			height: 24px;
			background: material-color('blue-grey', '300');
		}

		&:before {
			transform: rotate(-45deg);
		}

		&:after {
			transform: rotate(45deg);
		}
	}
}