.list {
	margin-bottom: $spacing;

	> li {
		padding: $spacing-sm;
		border-bottom: 2px solid lighten(material-color('blue-grey', '100'), 4%);
		list-style: none;
	}
}

.skills-list {
	margin: 0 auto;
	margin-bottom: 48px;
	max-width: 380px;

	i:before {
		color: material-color('green', '400');
	}
}