.media {
	margin-bottom: $spacing;
	display: flex;
	align-items: flex-start;
	width: 100%;
	max-width: 100%;

	&__img {
		margin-right: $spacing;
		flex-shrink: 0;
		flex-grow: 0;

		> img {
			display: block;
			width: 100%;
		}
	}

	&__body {
		flex: 1;
		text-align: left;
	}

	&--fixed {
		.media__img {
			width: 150px;

			@include mq($from: tablet) {
				width: 150px;
			}
		}
	}

	&--middle {
		align-items: center;
	}

	&:last-child {
		margin-bottom: 0;
	}
}