.wrapper {
	width: 100%;
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;

	@include mq($from: tablet) {
		width: 80%;
	}

    &--padded {
        padding: 0 $spacing;
    }

    &--sm {
        max-width: 800px;
        width: 100%;
    }
}