$heading-font-bold: "Novecento Bold", sans-serif;
$heading-font-light: "Novecento Light", sans-serif;
$body-font: "Montserrat", sans-serif;

$alpha: 64px;
$beta: 48px;
$gamma: 36px;
$delta: 20px;
$epsilon: 16px;
$zeta: 12px;

$base-font-size: $delta;
$base-line-height: 1.4;