$spacing: 24px;
$spacing-sm: 12px;
$spacing-lg: 36px;
$spacing-xl: 48px;

$header-height-desk: 150px;
$header-height-mobile: 150px;

// Social colors
$color-fb: #3b5999;
$color-twit: #55acee;
$color-insta: #e4405f;