$spacing: 24px;
$spacing-sm: 12px;
$spacing-lg: 36px;
$spacing-xl: 48px;

$header-height-desk: 180px;
$header-height-mobile: 180px;

// Social colors
$color-fb: #3b5999;
$color-twit: #55acee;
$color-insta: #e4405f;

// Section colors
$color-art: material-color('blue', '400');
$color-code: material-color('orange', '400');
$color-music: material-color('purple', '300');
$color-hireme: material-color('green', '400');

$link-color: material-color('blue', '400');