//@include font-face("Novecento Bold", "/assets/fonts/Novecentosanswide-Bold-webfont/Novecentosanswide-Bold-webfont");
//@include font-face("Novecento Light", "/assets/fonts/Novecentosanswide-Light-webfont/Novecentosanswide-Light-webfont");

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	min-height: 100%;
	overflow-x: hidden;
	position: relative;
}

body {
	font-family: $body-font;
	font-size: $epsilon;
	line-height: $base-line-height;
	background: lighten(material-color('blue-grey', '100'), 10%);
	color: material-color('blue-grey', '700');

	@include mq($from: desktop) {
		font-size: $delta;
	}
}

.preload * {
	transition: none !important;
}

.preload-images {
	background: url("/assets/images/keith-default.svg") no-repeat -9999px -9999px,
	            url("/assets/images/keith-code.svg") no-repeat -9999px -9999px,
	            url("/assets/images/keith-art.svg") no-repeat -9999px -9999px,
	            url("/assets/images/keith-music.svg") no-repeat -9999px -9999px,
	            url("/assets/images/keith-hireme.svg") no-repeat -9999px -9999px;
}

p {
	margin-bottom: $spacing;

	&:last-child {
		margin-bottom: 0;
	}
}

.pull {
	&-left {
		float: left;
	}
	&-right {
		float: right;
	}
}