a {
	text-decoration: none;
	color: $link-color;
    transition: all 250ms;

    .page--code & {
        color: $color-code;
    }

    .page--art & {
        color: $color-art;
    }

    .page--music & {
        color: $color-music;
    }

    .page--hireme & {
        color: $color-hireme;
    }
}