.about {
	text-align: center;
	background: material-color('blue-grey', '100');

	&__btn {
		margin-top: $spacing;

		@include mq($from: tablet) {
			margin-top: 0;
			margin-left: $spacing-sm;
		}
	}
}