.category-intro {
	margin-bottom: $spacing;
	margin-top: -$spacing;
	padding: $spacing;
	//background: material-color('blue-grey', '100');
	border-bottom: 6px solid lighten(material-color('blue-grey', '100'), 4%);
    text-align: center;
}