.category-intro {
	margin-bottom: $spacing;
	margin-top: -$spacing;
	padding: $spacing;
	//background: material-color('blue-grey', '100');
	border-bottom: 1px solid material-color('blue-grey', '100');
}