.graph {
	position: relative;
	display: flex;
	align-items: stretch;
	height: 50vh;
	max-width: 900px;
	margin-bottom: $spacing;
	margin-top: $spacing;
	margin-left: auto;
	margin-right: auto;

	@include mq($from: wide) {
		height: 65vh;
	}

	&:after {
		content: '';
	    position: absolute;
	    right: 0;
	    top: 0;
	    bottom: 0;
	    width: $spacing-sm;
	    background: linear-gradient(to left, lighten(material-color('blue-grey', '100'),10%), transparent);
	
	    @include mq($from: wide) {
	    	display: none;
	    }
	}

	&__yaxis {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		list-style: none;
		margin-right: $spacing;
		padding-bottom: $beta + $spacing-sm;
		text-align: right;
		font-size: $zeta;

		@include mq($from: wide) {
			font-size: $epsilon;
		}

		&:after {
			content: '';
		    position: absolute;
		    left: calc(100% + #{$spacing} - 2px);
		    top: 0;
		    bottom: 0;
		    width: $spacing-sm;
		    z-index: 1;
		    background: linear-gradient(to right, lighten(material-color('blue-grey', '100'),10%), transparent);
		}
	}

	&-note {
		text-align: center;
		font-size: $zeta;
		text-transform: uppercase;

		@include mq($from: wide) {
			display: none;
		}
	}

	&__items {
		position: relative;
		display: flex;
		flex: 1;
		align-items: stretch;
		height: 100%;
		overflow-x: auto;
		padding-bottom: $beta + $spacing-sm;
		/*background: repeating-linear-gradient(
		    to bottom,
			$graph-line-color,
			$graph-line-color 1px,
			transparent 1px,
			transparent 33.333%
		);*/

		@include mq($from: wide) {
			overflow-x: visible;

			&:after {
				content: '';
				position: absolute;
				bottom: $beta + $spacing-sm;
				left: 0;
				width: 100%;
				height: 2px;
				background: $graph-line-color;
			}
		}
	}

	&__item {
		position: relative;
		flex: 1;
		width: 0;
		max-width: $spacing*3;
		min-width: $spacing*3;
		height: 100%;
		margin-right: $spacing;

		@include mq($from: wide) {
			margin-right: $spacing-lg;
		}

		&:first-child {
			margin-left: $spacing-sm;
		}

		&__bar {
			overflow: hidden;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 0;
			background: material-color('green', '400');
			transition: all 1.5s ease-in-out;
			transform-origin: bottom center;

			> span {
				position: absolute;
				bottom: 0;
				left: 50%;
				height: $spacing;
				margin-left: -$spacing/2;
				margin-bottom: -$spacing-sm;
				display: block;
				transform-origin: left top 0;
				transform: rotate(-90deg);
				color: white;
				white-space: nowrap;
				pointer-events: none;
				font-size: $zeta;

				@include mq($from: wide) {
					font-size: $delta;
				}
			}
		}

		&:hover {
			.graph__item__bar {
				//transform: scaleY(1.025);
			}
		}

		&__name {
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			padding-top: $spacing-sm;
			text-align: center;

			> i {
				display: block;
				margin: 0 auto;
				font-size: $beta;
			}

			> span {
				@extend .accessibility;
			}
		}

		&--wp {
			color: $color-wp;

			> .graph__item__bar {
				background: $color-wp;
			}
		}

		&--html {
			color: $color-html;

			> .graph__item__bar {
				background: $color-html;
			}
		}

		&--css {
			color: $color-css;

			> .graph__item__bar {
				background: $color-css;
			}
		}

		&--js {
			color: $color-js;

			> .graph__item__bar {
				background: $color-js;
			}
		}

		&--php {
			color: $color-php;

			> .graph__item__bar {
				background: $color-php;
			}
		}

		&--angular {
			color: $color-angular;

			> .graph__item__bar {
				background: $color-angular;
			}
		}

		&--git {
			color: $color-git;

			> .graph__item__bar {
				background: $color-git;
			}
		}

		&--react {
			color: $color-react;

			> .graph__item__bar {
				background: $color-react;
			}
		}
	}
}