.home-grid {
	position: relative;
	display: grid;
	grid-gap: $spacing;
	grid-template-columns: repeat(2, 1fr);
	padding: $spacing 0;

	&__item {
		position: relative;
		display: flex;
		align-items: center;
		text-decoration: none;
		transition: height 200ms;

		&--art {
			background: $color-art;
		}
		&--code {
			background: $color-code;
		}
		&--music {
			background: $color-music;
		}
		&--hireme {
			background: $color-hireme;
		}

		> span {
			display: block;
			width: 100%;
			text-align: center;
			text-transform: uppercase;
			font-family: $heading-font-light;
			font-size: 7vw;
			color: white;
		}
	}
}