@keyframes scrollBg {
	0% {
		transform: translate(0);
	}
	100% {
		transform: translate(-25%);
	}
}

.home-grid {
	position: relative;
	display: grid;
	grid-gap: $spacing;
	grid-template-columns: repeat(2, 1fr);
	padding: $spacing 0;
	transition: height 200ms;

	&:hover {
		.home-grid__item {
			opacity: 0.5;
		}
	}

	&__bg {
		display: none;

		@include mq($from: desktop) {
			display: flex;
			flex-wrap: wrap;
		    position: absolute;
	    	top: -25%;
	    	left: 0;
	    	width: 150%;
	    	height: 150%;
	    	opacity: 0;

	    	.home-grid__item--art & {
	    		color: material-color('blue', '300');
	    	}

	    	.home-grid__item--code & {
	    		color: material-color('orange', '300');
	    	}

	    	.home-grid__item--music & {
	    		color: darken(material-color('purple', '200'),5%);
	    	}

	    	.home-grid__item--hireme & {
	    		color: material-color('green', '300');

	    		> i {
	    			//transform: rotate(45deg) translateY(45%);
	    		}
	    	}


	    	.home-grid__item:hover & {
	    		animation: scrollBg 5s linear infinite;
	    		opacity: 1;
	    		transition: opacity 200ms;
	    	}

	    	> i {
	    		width: 25%;
	    		height: 50%;
	    		line-height: 1;
	    		flex-shrink: 0;
	    		flex-grow: 0;
	    		font-size: 20vmin;
	    		//transform: rotate(-35deg);
	    		position: relative;
	    		z-index: -1;
	    	}
	    }
	}

	&__item {
		overflow: hidden;
		position: relative;
		display: flex;
		align-items: center;
		text-decoration: none;
		transition: opacity 200ms;

		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		background-image: content("\f1fc");

		&:after {
			//content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			transition: box-shadow 200ms;
		}

		&:hover {
			opacity: 1 !important;
			&:after {
				@include box-shadow(4, "inset");
			}
		}

		&--art {
			background: $color-art;
		}
		&--code {
			background: $color-code;
		}
		&--music {
			background: $color-music;
		}
		&--hireme {
			background: $color-hireme;
		}

		> span {
			display: block;
			width: 100%;
			text-align: center;
			text-transform: uppercase;
			font-family: $heading-font-light;
			font-weight: 300;
			font-size: 7vw;
			color: white;
			position: relative;
			z-index: 1;
		}
	}
}