@keyframes keithBounce {
	0% {
		transform: scaleY(0.9);
	}
	50% {
		transform: scaleY(1.02);
	}
	100% {
		transform: none;
	}
}

.keith {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
	height: 30vh;
	width: 30vh;
	pointer-events: none;
	
	> div {
		height: 100%;
		width: 100%;
		background-image: url(/assets/images/keith-default.svg);
		background-repeat: no-repeat;
		background-size: auto 100%;
		background-position: center center;
		transform-origin: bottom center;
		transition: transform 200ms;
		will-change: transform;
	}

	@include mq($from: tablet) {
		height: 50vh;
		width: 50vh;
	}

	&--music {
		> div {
			background-image: url(/assets/images/keith-music.svg);
			background-position-x: calc(50% + 2.2vh);

			@include mq($from: tablet) {
				background-position-x: calc(50% + 3.7vh);
			}
		}
	}

	&--animating {
		> div {
			animation: keithBounce 200ms;
			animation-fill-mode: forwards;
		}
	}
}