@keyframes keithBounce {
	0% {
		transform: scaleY(0.9);
	}
	50% {
		transform: scaleY(1.02);
	}
	100% {
		transform: none;
	}
}

.keith {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(calc( -50% + 10px ), -50%); 
	height: 30vh;
	width: 30vh;
	pointer-events: none;
	opacity: 1;
	transition: opacity 500ms;

	.preload & {
		opacity: 0;
	}
	
	> div {
		height: 100%;
		width: 100%;
		background-image: url(/assets/images/keith-default.svg);
		background-repeat: no-repeat;
		background-size: auto 100%;
		background-position: bottom center;
		transform-origin: bottom center;
		transition: transform 200ms;
		will-change: transform;
	}

	@include mq($from: tablet) {
		height: 50vh;
		width: 50vh;
	}

	&--music {
		> div {
			background-image: url(/assets/images/keith-music.svg);
		}
	}

	&--art {
		> div {
			background-image: url(/assets/images/keith-art.svg);
			background-size: auto 95.5%;
		}
	}

	&--hireme {
		> div {
			background-image: url(/assets/images/keith-hireme.svg);
		}
	}

	&--code {
		> div {
			background-image: url(/assets/images/keith-code.svg);
		}
	}

	&--animating {
		> div {
			animation: keithBounce 200ms;
			animation-fill-mode: forwards;
		}
	}
}