@keyframes keithBounce {
	0% {
		transform: translate(-50%, -50%) scaleY(0.95);
	}
	50% {
		transform: translate(-50%, -50%) scaleY(1.05);
	}
	100% {
		transform: translate(-50%, -50%);
	}
}

.keith {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
	height: 30vh;
	width: 100%;
	background-image: url(/assets/images/keith-default.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	pointer-events: none;
	transform-origin: bottom center;
	transition: transform 200ms;

	@include mq($from: desktop) {
		height: 50vh;
	}

	&--music {
		background-image: url(/assets/images/keith-music.svg);
		background-position-x: calc(50% + 24px);
	}

	&--animating {
		animation: keithBounce 200ms;
		animation-fill-mode: forwards;
	}
}