.page-foot {
	width: 100%;
	//height: $spacing*3;
	padding: $spacing-sm;
    padding-bottom: $spacing-xl;
	background: material-color('blue-grey', '800');
	color: material-color('blue-grey', '500');
	text-align: center;
	font-size: $epsilon;

	@include mq($from: tablet) {
		padding-top: $spacing;
        padding-right: $spacing;
        padding-left: $spacing;
	}

	a {
        font-weight: 700;
		text-transform: uppercase;
		color: material-color('blue-grey', '500');
		display: inline-block;
		padding: 0 $spacing/4;
		transition: background 100ms;

		&:nth-child(1) {
            &:hover,
            &:focus {
                color: $color-hireme;
            }
		}

		&:nth-child(2) {
            &:hover,
            &:focus {
                color: $color-art;
            }
		}

		&:nth-child(3) {
            &:hover,
            &:focus {
                color: $color-code;
            }
		}

		&:nth-child(4) {
            &:hover,
            &:focus {
                color: $color-music;
            }
		}

		&:hover {
			//background: material-color('blue-grey', '600');
		}
	}

	&__copy {
		text-align: center;
		@include mq($from: tablet) {
			text-align: left;
			float: left;
		}
	}

	&__links {
		text-align: center;
		@include mq($from: tablet) {
			text-align: left;
			float: right;
		}
	}

    &:after {
        display: table;
        content: "";
        clear: both;
    }
}