.page-title {
	width: 100%;
	margin-bottom: $spacing;
	padding: $spacing-xl 0;
	text-align: center;
	text-transform: uppercase;
	line-height: 1;
	color: white;

	.post & {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		margin-bottom: 0;
	}
	
	.page--art & {
		background: $color-art;
	}

	.page--code & {
		background: $color-code;
	}

	.page--music & {
		background: $color-music;
	}

	h1 {
		font-family: "Novecento Light";
		font-weight: 400;
		margin-bottom: 0;
		font-size: $gamma;

		@include mq($from: tablet) {
			font-size: $beta;
		}

		@include mq($from: desktop) {
			font-size: $alpha;
		}
	}
}