.page-title {
	width: 100%;
	margin-bottom: $spacing-xl;
	padding: $spacing-xl 0;
	text-align: center;
	text-transform: uppercase;
	line-height: 1;
	background: material-color('blue-grey', '500');
	color: white;

	.post & {
		bottom: 0;
		left: 0;
		right: 0;
		margin-bottom: 0;
	}
	
	.page--art & {
		background: $color-art;
	}

	.page--code & {
		background: $color-code;
	}

	.page--music & {
		background: $color-music;
	}

	.page--hireme & {
		background: $color-hireme;
	}

	h1 {
		font-family: "Novecento Light";
		font-weight: 400;
		margin-bottom: 0;
		font-size: $gamma;

		@include mq($from: tablet) {
			font-size: $beta;
		}

		@include mq($from: desktop) {
			font-size: $alpha;
		}
	}

	@keyframes arrowPoint {
		0% {
			opacity: 0;
			transform: translate(0, -100%);
		}
		50% {
			opacity: 1;
		}
		100% {
			transform: none;
		}
	}

	&__skip {
		position: absolute;
		left: 50%;
		top: -$alpha*1.25;
		font-size: $gamma;
		background: transparent;
		border: 0;
		outline: 0;
		color: white;
		text-shadow: rgba(black,0.5) 0 0 10px;
		cursor: pointer;
		width: $alpha;
		height: $alpha;
		margin-left: -$alpha/2;
		line-height: $alpha;
		border-radius: 50%;
		animation: arrowPoint 1s 2 forwards ease-out;
		transition: all 100ms;

		&:hover {
			background: material-color('blue-grey', '500');
			text-shadow: none;
			@include box-shadow(2);
		}
	}

	&__link {
		color: white !important;
		font-family: $heading-font-light;
		font-size: $delta;
		margin-left: $spacing;
		text-transform: uppercase;
		opacity: 0.5;

		&:hover {
			opacity: 1;
		}
	}
}