.page-head {
	padding: $spacing 0;
	text-align: center;
	background: material-color('blue-grey', '800');
	color: white;

	&__logo {
		margin-bottom: $spacing-sm;
		text-transform: uppercase;
		font-family: $heading-font-bold;
		font-size: $gamma;
		line-height: $gamma;

		> a {
			color: inherit;
		}
	}

	&__tagline {
		margin-bottom: $spacing;
		font-size: $zeta;
		line-height: 1.4;

		@include mq($from: tablet) {
			font-size: $epsilon;
			line-height: $spacing;
		}
	}

	&__social {
		display: flex;
		justify-content: center;

		> li {
			list-style: none;
			margin-right: $spacing-sm;
			width: $spacing-lg;
			height: $spacing-lg;
			line-height: $spacing-lg + 1;

			&:last-child {
				margin-right: 0;
			}

			> a {
				display: block;
				width: 100%;
				height: 100%;
				padding-left: 1px;
				color: white;
				background: material-color('blue-grey', '700');
				border-radius: 50%;
				transition: all 100ms;

				&:hover {
					box-shadow: 0 1px 1px 0 rgba(material-color('blue-grey', '900'), 0.95), 0 2px 8px 0 rgba(material-color('blue-grey', '900'), 0.5);
				}

				&.facebook:hover {
					background-color: $color-fb;
				}

				&.twitter:hover {
					background-color: $color-twit;
				}

				&.instagram:hover {
					background-color: $color-insta;
				}

				&.envelope:hover {
					background-color: material-color('green', '400');
				}
			}
		}
	}
}

