.page-search-toggle {
	background: transparent;
	border: 0;
	outline: 0;
	position: absolute;
	top: $spacing + 6;
	right: $spacing;
	cursor: pointer;
}

@keyframes searchResultOpen {
	0% {
		height: 0;
	}
	100% {
		height: 75px;
	}
}

.page-search {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	transition: transform 500ms,
				box-shadow 500ms;
	transform: translate(0, -100%);
	background: white;
	z-index: 999;

	@include mq($from: tablet) {
		max-width: 320px;
		transform: translate(100%, 0);
	}

	&--open {
		transform: none;
		@include box-shadow(3);
	}

	.text-input-btn {
		width: 100%;
		position: relative;
		padding: $spacing;
		z-index: 1;

		> .text-input {
			width: 100%;
		}

		> .btn {
			width: $spacing-lg;
			padding-left: 0;
			padding-right: 0;
		}
	}

	&__results {
		width: 100%;
		max-height: calc(100vh - #{$spacing*2 + $spacing-lg});
		overflow-y: auto;
		list-style: none;
		padding: 0 $spacing;
		background: white;
		color: material-color('blue-grey', '800');
		transition: transform 1s;

		@include mq($from: tablet) {
			max-width: 350px;
		}

		> .media {
			position: relative;
			height: 0;
			animation: searchResultOpen 200ms;
			animation-fill-mode: forwards;

			> .media__img {
				width: 75px;
				transition: box-shadow 200ms;
			}

			> .media__body {
				padding-right: $spacing-lg;
			}

			&:last-child {
				margin-bottom: $spacing;
			}

			&.art {
				//color: $color-art;
			}

			&.code {
				//color: $color-code;
			}

			&.music {
				//color: $color-music;
			}
		}
	}

	&__noresults {
		//max-height: $spacing;
		margin-bottom: $spacing;
	}
}

.search-type {
	position: absolute;
	right: 0;
	top: 50%;
	height: 16px;
	width: 20px;
	text-align: center;
	line-height: 16px;
	margin-top: -8px;

	&:before {
		content: "";
		font-size: 16px;
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		color: material-color('blue-grey', '100');
	}

	&--art {
		&:before {
			content: "\f1fc";
			//color: material-color('blue', '100');
		}
	}

	&--code {
		&:before {
			content: "\f121";
			//color: material-color('orange', '100');
		}
	}

	&--music {
		&:before {
			content: "\f001";
			//color: material-color('purple', '100');
		}
	}
}