.page-body {
	min-height: calc(100vh - #{$header-height-mobile});
}

.page-content {
	padding-bottom: $spacing-xl;
	padding-top: $spacing-sm;

	@include mq($from: tablet) {
		padding-bottom: $spacing-xxl;
		padding-top: $spacing-lg;
	}
}