.page-head {
	padding: $spacing 0;
	height: $header-height-mobile;
	text-align: center;

	@include mq($from: tablet) {
		height: $header-height-desk;
	}

	&__logo {
		margin-bottom: $spacing-sm;
		text-transform: uppercase;
		font-family: $heading-font-bold;
		font-size: $gamma;
		line-height: $gamma;

		> a {
			color: inherit;
		}
	}

	&__tagline {
		margin-bottom: $spacing-sm;
		font-size: $zeta;
		line-height: 1.4;

		@include mq($from: tablet) {
			font-size: $epsilon;
			line-height: $spacing;
		}
	}

	&__social {
		display: flex;
		justify-content: center;

		> li {
			list-style: none;
			margin-right: $spacing-sm;

			&:last-child {
				margin-right: 0;
			}

			> a {
				color: material-color('blue-grey', '900');
				background: white;
				border: 1px solid material-color('blue-grey', '100');
				border-radius: 50%;
				width: $spacing-lg;
				height: $spacing-lg;
				line-height: $spacing-lg;
				transition: box-shadow 100ms;

				&.icon--fb:hover {
					color: $color-fb;
					border-color: lighten($color-fb, 30%);
					box-shadow: 0 1px 1px 0 lighten($color-fb, 30%), 0 2px 8px 0 material-color('blue-grey', '100');
				}

				&.icon--twit:hover {
					color: $color-twit;
					border-color: lighten($color-twit, 10%);
					box-shadow: 0 1px 1px 0 lighten($color-twit, 10%), 0 2px 8px 0 material-color('blue-grey', '100');
				}

				&.icon--insta:hover {
					color: $color-insta;
					border-color: lighten($color-insta, 20%);
					box-shadow: 0 1px 1px 0 lighten($color-insta, 20%), 0 2px 8px 0 material-color('blue-grey', '100');
				}
			}
		}
	}
}