.posts {
	margin-bottom: $spacing;

	&--art {
		display: grid;
		grid-gap: $spacing;
		grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
	}
}

.post {
	background: white;

	&__header {
		padding: $spacing;
		padding-bottom: 0;

		&__title {
			margin-bottom: 0;
			font-size: $delta;

			> a {
				color: inherit;

				&:hover {
					color: $link-color;
				}
			}
		}
	}

	&__image {
		overflow: hidden;
		display: block;
		width: 100%;
		background: material-color('blue-grey', '900');

		img {
			display: block;
			height: 100%;
			width: 100%;
			object-fit: contain;
			object-position: center center;
		}
	}

	&__content {
		padding: $spacing;
		text-align: justify;
	}

	&--excerpt {
		border: 1px solid material-color('blue-grey', '100');

		&__image {
			border-bottom: 1px solid material-color('blue-grey', '100');
		}
	}

	&--full {
		.post--full__excerpt {
			margin-bottom: $spacing-xl;
			font-size: $delta;
			font-style: italic;
			text-align: center;
			color: material-color('blue-grey', '200');
		}

		.post__content {
			padding-top: $spacing-xl;
			padding-bottom: $spacing-xl;
		}
	}
}

.no-posts {
	text-align: center;
}