.posts {
	margin-bottom: $spacing-xl;

	& {
		display: grid;
		grid-gap: $spacing;
		grid-template-columns: repeat(auto-fill, minmax(120px,1fr));

		@include mq($from: tablet) {
			grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
		}
	}

	.page--music & {
		grid-template-columns: repeat(auto-fill, minmax(100%,1fr));

		@include mq($from: tablet) {
			grid-template-columns: repeat(auto-fill, minmax(500px,1fr));
		}
	}
}

.post {
	background: white;

	&__header {
		padding: $spacing;
		padding-bottom: 0;

		&__title {
			margin-bottom: 0;
			font-size: $delta;

			> a {
				color: inherit;

				&:hover {
					color: $link-color;
				}
			}
		}
	}

	&__image {
		overflow: hidden;
		display: block;
		width: 100%;
		background: material-color('blue-grey', '900');

		img {
			display: block;
			height: 100%;
			width: 100%;
			object-fit: contain;
			object-position: center center;
		}
	}

	&__content {
		padding: $spacing;
		padding-top: $spacing-sm;
	}

	&--excerpt {
		border: 1px solid material-color('blue-grey', '100');

		&__image {
			border-bottom: 1px solid material-color('blue-grey', '100');
		}

		.post__header {
			padding: $spacing-sm;
			padding-bottom: 0;

			@include mq($from: tablet) {
				padding-top: $spacing;
				padding-right: $spacing;
				padding-left: $spacing;
			}

			&__title {
				font-size: $epsilon;
				line-height: $spacing-sm+$spacing-sm/2;

				@include mq($from: tablet) {
					font-size: $delta;
					line-height: $spacing;
				}
			}
		}

		.post__content {
			padding: $spacing-sm;
			font-size: $zeta;
			line-height: $spacing-sm+$spacing-sm/2;

			@include mq($from: tablet) {
				padding: $spacing;
				padding-top: $spacing-sm;
				font-size: $epsilon;
				line-height: $spacing;
			}
		}

		&.post--music {
			height: 150px;

			@include mq($from: tablet) {
				height: 150px;
			}

			.post__content,
			.post__header {
				padding-left: 0;
			}
		}
	}

	&--full {
		.post--full__excerpt {
			margin-bottom: $spacing-xl;
			font-size: $delta;
			font-style: italic;
			text-align: center;
			color: material-color('blue-grey', '200');
		}

		.post__content {
			padding-top: $spacing-xl;
			padding-bottom: $spacing-xl;
			text-align: justify;
		}
	}
}

.no-posts {
	text-align: center;
}