---
layout: page
---

<div class="wrapper wrapper--padded">
	{% if page.description %}
		<section class="category-intro">
			{{ page.description }}
		</section>
	{% endif %}

	<div class="posts posts--{{ page.category }}">
		{% if site.categories[page.category] == null %}
			<p class="no-posts">No posts yet in this category.</p>
		{% else %}
			{% for post in site.categories[page.category] %}
				{% if post.categories[0] == "music" %}
					<article class="post post--excerpt post--{{ post.categories[0] }}">
						<div class="media media--fixed">
							{% if post.image %}
								<a class="media__img" href="{{ post.url | absolute_url }}" class="post__image post--excerpt__image">
									{% include img.html src=post.image size="square" %}
								</a>
							{% endif %}
							<div class="media__body">
							    <header class="post__header">
							    	<h2 class="post__header__title">
							    		<a href="{{ post.url | absolute_url }}">
								    		{{ post.title }}
								    	</a>
								    </h2>
							    </header>
							    <section class="post__content">
							    	{{ post.excerpt }}
							    </section>
							</div>
						</div>
					</article>
				{% else %}
					<article class="post post--excerpt post--{{ post.categories[0] }}">
						{% if post.image %}
							{% assign img = post.image | split: "/" %}
							<a href="{{ post.url | absolute_url }}" class="post__image post--excerpt__image">
								{% include img.html src=post.image size="medium" %}
							</a>
						{% endif %}
					    <header class="post__header">
					    	<h2 class="post__header__title">
					    		<a href="{{ post.url | absolute_url }}">
						    		{{ post.title }}
						    	</a>
						    </h2>
					    </header>
					    <section class="post__content">
					    	{{ post.excerpt }}
					    </section>
					</article>
				{% endif %}
			{% endfor %}
		{% endif %}
	</div>
</div>