<!DOCTYPE html>
<html>
<head>
	<title>{% if page.title %}{{ page.title }} | {% endif %} {{ site.name }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i" rel="stylesheet">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/baguettebox.min.css">
</head>
<body class="preload {% if page.pageClass %}{{ page.pageClass }}{% elsif page.categories %}page--{{ page.categories[0] }}{% endif %}">
	<header id="page-head" class="page-head">
		<h1 class="page-head__logo">
			<a href="{{ site.baseurl }}/">{{ site.name }}</a>
		</h1>
		<span id="page-head-tagline" class="page-head__tagline" style="display:none;">A guy who does things</span>
		<ul class="page-head__social">
			<li>
				<a href="https://twitter.com/ThatKeithDude" class="twitter" title="Twitter">
					<i class="fa-fw fab fa-twitter"></i>
				</a>
			</li>
			<li>
				<a href="https://www.instagram.com/thatonekeithguy/" class="instagram" title="Instagram">
					<i class="fa-fw fab fa-instagram"></i>
				</a>
			</li>
			<li>
				<a href="https://codepen.io/keithpickering/" class="codepen" title="Codepen">
					<i class="fa-fw fab fa-codepen"></i>
				</a>
			</li>
			<li>
				<a href="mailto:keithpickering@outlook.com" class="envelope" title="Email me!">
					<i class="fa-fw far fa-envelope"></i>
				</a>
			</li>
		</ul>
		<button id="page-search-toggle" class="page-search-toggle icon icon--search">
			<span class="accessibility">Search</span>
		</button>
		<div id="page-search" class="page-search">
			<div class="text-input-btn">
				<input type="text" id="page-search-input" class="text-input page-search__input" placeholder="Search...">
				<button id="search-close" class="btn btn--search">
					<span class="icon icon--close"></span>
				</button>
			</div>

			<ul id="page-search-results" class="page-search__results">
			</ul>
		</div>
	</header>

	<main id="page-body" class="page-body">
		{{ content }}
	</main>

	<footer id="page-foot" class="page-foot">
		&copy; {{ 'now' | date: "%Y" }} Keith Pickering
	</footer>

	<script src="{{ site.baseurl }}/assets/js/search.js"></script>
	<script src="{{ site.baseurl }}/assets/js/baguettebox.min.js"></script>
	<script src="{{ site.baseurl }}/assets/js/main.js"></script>
</body>
</html>