<!DOCTYPE html>
<html>
<head>
	<title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i" rel="stylesheet">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
</head>
<body class="{{ page.pageClass }}">
	<header id="page-head" class="page-head">
		<h1 class="page-head__logo">
			<a href="{{ site.baseurl }}/">{{ site.name }}</a>
		</h1>
		<span id="page-head-tagline" class="page-head__tagline" style="display:none;">A guy who does things</span>
		<ul class="page-head__social">
			<li>
				<a href="" class="icon icon--fb"></a>
			</li>
			<li>
				<a href="" class="icon icon--twit"></a>
			</li>
			<li>
				<a href="" class="icon icon--insta"></a>
			</li>
			<li>
				<a href="mailto:keithpickering@outlook.com" class="icon icon--email"></a>
			</li>
		</ul>
	</header>

	<main id="page-body" class="page-body">
		{{ content }}
	</main>

	<footer id="page-foot" class="page-foot">
		&copy; {{ 'now' | date: "%Y" }} Keith Pickering
	</footer>

	<script src="{{ site.baseurl }}/assets/js/main.js"></script>
</body>
</html>