---
layout: default
---

<article class="post post--full post--{{ page.categories[0] }}">
	{% if page.image %}
		<div class="post__image">
			<a href="/assets/images/posts{{ page.permalink }}{{ page.image }}">
				<img src="/assets/images/posts{{ page.permalink }}{{ page.image }}" alt="">
			</a>
		</div>
	{% endif %}
	<header id="page-title" class="page-title">
		<div class="wrapper wrapper--padded">
			<h1>{{ page.title }}</h1>
		</div>
	</header>
	<section class="post__content">
		<div class="wrapper wrapper--padded">
			{{ content }}
		</div>
	</section>
</article>

{% include about.html %}