---
layout: default
pageType: page--post
---

<div id="preloader" class="preloader">
	<div class="loader"></div>
</div>

<article class="post post--full post--{{ page.categories[0] }}">
	{% if page.image and page.categories[0] != "music" %}
		<div class="post__image">
			{% if page.exturl %}
				<a href="{{ page.exturl }}">
			{% else %}
				<a href="/assets/images/posts{{ page.permalink }}large/{{ page.image }}">
			{% endif %}
					<img src="/assets/images/posts{{ page.permalink }}large/{{ page.image }}" alt="">
				</a>
		</div>
	{% endif %}
	<header id="page-title" class="page-title">
		<div class="wrapper wrapper--padded">
			<h1>{{ page.title }}</h1>
		</div>
		<button id="page-title-skip" class="page-title__skip" type="button">
			<i class="fa-fw fas fa-chevron-down"></i>
		</button>
	</header>
	<section class="post__content">
		<div class="wrapper wrapper--padded">
			{{ content }}
		</div>
	</section>
</article>

{% include about.html %}